*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
}
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.page_header_nav {
  border-bottom: 3px solid #f1ad1d;
  margin-bottom: 10px;
  padding-bottom: 22px;
}
.page_header_logo {
  font-size: 32px;
  font-weight: 700;
  color: #f1ad1d;
  text-transform: uppercase;
  text-decoration: none;
}
.page_header_menu_link {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3d3d3d;
}
.active_link {
  color: #f1b128;
}
.page_header_menu {
  list-style: none;
  margin: 0 0 0 180px;
  display: inline-block;
  vertical-align: top;
  padding-left: 0;
}
.header_menu_item {
  display: inline-block;
  margin-left: 61px;
}
.banner {
  background-image: url(../image/background_image.jpg);
  background-size: cover;
  padding-top: 528px;
  padding-bottom: 140px;
}
.banner_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 15px;
}
.banner_subtitle {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}
.accent_color {
  color: #f48e0b;
}
.banner_slogan {
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 38px 31px;
  display: inline-block;
}
.banner_slogan span {
  margin-right: 50px;
}
.services {
  padding-bottom: 194px;
}
.section_header {
  text-align: center;
}
.section_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: #333333;
  margin-top: 0;
  margin-bottom: 0;
}
.services_subtitle {
  font-size: 17px;
  line-height: 24px;
  color: #4d4943;
  margin-top: 28px;
}
.section_line {
  width: 60px;
  height: 3px;
  background: linear-gradient(0deg, #f1ad1d, #f1ad1d), #f48e0b;
  border: none;
}
.services_list {
  padding-left: 0;
  margin-top: 46px;
  margin-bottom: 0px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.services_item {
  width: 275px;
  border-bottom: 6px solid #333333;
  padding-bottom: 35px;
  text-align: center;
}
.services_item_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  padding: 22px 63px 16px 63px;
  background: #333333;
  margin-top: 0;
  margin-bottom: 30px;
}
.services_image {
  margin-left: auto;
  margin-right: auto;
}
.services_item_text {
  margin-bottom: 24px;
  margin-top: 31px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #505050;
  height: 61px;
}
.services_item_line {
  width: 66px;
  height: 6px;
  background: linear-gradient(0deg, #f1ad1d, #f1ad1d), #f48e0b;
  border: none;
}
.services_item_subtitle {
  margin-top: 27px;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #505050;
}
.services_items_offers {
  list-style: none;
  font-size: 14px;
  line-height: 20px;
  color: #505050;
  padding-left: 0%;
  margin-top: 0;
  margin-bottom: 0;
}

.services_items_offers{
  
}