.menu-bar ul ul {
    display: none;
  }
  
.menu-bar li:hover > ul {
    display: block;
  }
  .image_google:hover{
    /* display: block; */
    border: 3px solid orange;
    width: 25%;
    height: 25%;
    padding: 10px;
    background-color: beige;
    transition: 2s;
}