*,
*::after,
*::before {
  box-sizing: border-box;
}

.flex_container {
    /* max-width: 720px; */
  width: 90%;
  min-height: 80vh;
  margin: 40px auto;
  border: 3px groove darkblue;

  display: flex;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  /* align-content: space-between; */
  /* gap: 20px 20px; */
}
.flex_item {
  font-size: 24px;
  font-weight: 700;
  padding: 30px;
  text-align: center;
  border: 2px solid cornflowerblue;
  /* width: 300px; */
  /* width: calc(100% / 3); */
  /* min-width: 300px; */
  /* margin-bottom: 20px; */
  ;
}
.flex_item_third {
    align-self: flex-end;
    order: -1;

    /* flex-grow: 1;
    flex-shrink: 2;
    flex-basis: 300px; */
    flex: 1 2 300px;
}
.flex_item_second{
    /* flex-grow: 2; */
}   
