*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0px;
  background-color: #ffffff;
}
.nav {
  text-align: center;
}

.list li{
  display: inline;
}
.nav_text {
  display: inline-block;
  color: red;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  padding: 25px 72px;
  text-decoration: none;
}
.image {
  width: 100%;
}
.H1 {
  text-align: center;
  margin-top: 48px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
}
.container {
  margin-left: 67px;
  margin-right: 67px;
}
.lorem_text {
  margin-top: 38px;
  font-size: 16px;
  line-height: 26px;
}
.vestibulum_text {
  margin-top: 28px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}
.wrapper {
  text-align: center;

}
.button_end {
   background-color: red;
   border-radius: 4px; 
   margin-top: 66px;
   padding: 18px 44px 18px 44px;
   font-weight: 700;
   font-size: 12px;
   line-height: 12px;
   text-transform: uppercase;
   color: #ffffff;
   border: 0;
}
.footer {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #373737;
  margin-top: 82px;
  margin-bottom: 30px;
  margin-right: 105px;
  text-align: right;