h1{
    color: rgb(51, 56, 133);
    text-align: center;
}
::after
::before{
    box-sizing: border-box;

}
.main_wrapper{
    background-color: antiquewhite;
}
.page_body{
   font-family: sans-serif; 
   margin: 5px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}
.text{
    font-size: 12px;
    min-height: 50px;
}
.text-green{
    color: green;
    font-size: 20px;
}
.text-big  {
    font-size: 18px;
    color: blueviolet;
    font-style: normal;

}
.page_body .text{
    text-decoration: underline ;
}
.page_body > .text{
    font-style: italic;
}
.text span{
    color: brown;
}
.text .span_black{
    color: black;
}

.page_body .text_yellow{
    color: rgb(255, 174, 0);
    font-style: oblique;
}
 .image{ 
    width: 100%;
}
.text ~ .text{
text-transform: uppercase;
}
.page_footer{
    padding: 25px 15px;
    background-color:  rgb(87, 59, 59);
    color: aliceblue;
    text-align: center;

}
.test{
    text-align: center;
}
.test-text{
    border: thick double #32a1ce;
    color: bisque;
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}