*,
*::after,
*::before {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  /* flex-direction: ; */
  /* height: 100vh; */
  flex-wrap: wrap;
}

.item {
  padding: 15px;
  border: 1px solid black;
  /* width: 300px; */
  /* flex-grow: 1; */
  flex-basis: 300px;
}
.item:first-child {
 /* flex-grow: 3; */
  align-self: flex-end;
  /* order: 1; */
}
.item:nth-child(3) {
  /* order: 2; */
}
.item:nth-child(2) {
  order: -1;
}
