/*
selector{
    свойство: значение_свойства;
}
h1 {
    color: blue;
  }
*/

 h1.page-title{    /* 1+10=11*/
    color: rgb(81, 255, 0);
    text-align: center;
  }

.page-title{ /* 10*/
  color: rgb(255, 72, 0);
}
.link{
    font-size: 30px;
    line-height: 1.5;
    color: black;
    text-decoration: none;
    font-weight: 600;

}
.link-wrapper{
    text-align: center;
}
.text{
    font-size: 18px;
    line-height: 1.5;
    /* background-color: aqua; */
    /* display: inline; */
    display: inline-block;
    vertical-align: bottom;
    border: 1px solid #000;
    padding: 10px;
    width: 300px;
    text-align: center;
}
.lh-2{
    line-height: 2;
    
}
.word-wrap{
    color: blue;
    display: block;
}
/* 
inline style - 1000
selector id - 100
selector: class, atribute, pseudoclass - 10
selector: tag, pseudoelement - 1
*/