/* BASE */
.container {
    max-width: 1462px;
    font-family: "Poppins";
    
}

/* HEADER */
.header {
    background-image: url(../img/bg/bg.jpg);
    background-size: 100% auto;
    color: #FFFFFF;
    padding: 58px 80px ;
    font-family: "Montserrat", sans-serif;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 198px;

}
.logo {
    font-size: 32px;
    font-weight: 800;
}
nav {
    font-family: "Poppins";
    font-weight: 500;
}
nav ul {
    display: flex;
    column-gap: 40px;
}
nav li {
    list-style: none;
}
nav a {
    color: #FFFFFF;
    text-decoration: none;
}
.login {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    color: #FFFFFF;
}
.login::before {
content: "";  
position: absolute;
background-image: url(../img/icons/login.svg);
background-size: contain;
width: 20px;
height: 20px;
left: 0;
top: 50%;
transform: translateY(-50%);


}

.heder-title {
}
.title-discription {
    
}
.scroll {
}
