.exciting-text::after {
  content: "<- теперь это *просто* потрясающе!";
  color: green;
}

.boring-text::after {
  content: "<- СКУЧНО!";
  color: red;
}

/*  */
/*  */

.ribbon {
    background-color: #5BC8F7;
  }
  
    .ribbon::after {
    content: "Посмотрите на этот оранжевый прямоугольник.";
    background-color: #FFBA10;
    border-color: black;
    border-style: dotted;
  }

/*  */
/*  */

  span[data-descr] {
    position: relative;
    text-decoration: underline;
    color: #00F;
    cursor: help;
  }
  
  span[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    left: 0;
    top: 24px;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    background-color: #ffffcc;
    padding: 12px;
    color: #000000;
    font-size: 14px;
    z-index: 1;
  }