*,
*::after,
*::before{
 box-sizing: border-box;
}
html{
    font-size: 10px;
    height: 100%;
}
.text_block1{
    background-color: bisque;
    /* font-size: 100%; */
    /* font-size: 20px; */
    font-size: 1.5em;
    font-size: 1.5rem;
    margin-top: 2em;
    padding: 2vw ;
    border: 10px groove red;
    /* height: 20vh; */
    width: 200px;
    line-height: 1.5;
    /* box-sizing: content-box; */
    /* display: inline; */
    margin-left: auto;
    margin-right: auto;

}