*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
}
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.banner {
  background-image: url(../image/background_image.jpg);
  background-size: cover;
  padding-top: 528px;
  padding-bottom: 140px;
}
.banner_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 15px;
}
.banner_subtitle {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}
.accent_color {
  color: #f48e0b;
}
.banner_slogan {
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 38px 31px;
  display: inline-block;
}
.banner_slogan span{
    margin-right: 50px;
}

