.list{
    list-style: none;
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center ;
    width: 400px;
    height: 300px;
    padding-left: 0;
}
.list_item{
width: 50px;
border: 1px solid black;
}