*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
}
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.page_header_nav {
  border-bottom: 3px solid #f1ad1d;
  margin-bottom: 10px;
  padding-bottom: 22px;
}
.page_header_logo {
  font-size: 32px;
  font-weight: 700;
  color: #f1ad1d;
  text-transform: uppercase;
  text-decoration: none;
}
.page_header_menu_link {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3d3d3d;
}
.active_link {
  color: #f1b128;
}
.page_header_menu {
  list-style: none;
  margin: 0 0 0 180px;
  display: inline-block;
  vertical-align: top;
  padding-left: 0;
}
.header_menu_item {
  display: inline-block;
  margin-left: 61px;
}
.banner {
  background-image: url(../image/background_image.jpg);
  background-size: cover;
  padding-top: 528px;
  padding-bottom: 140px;
}
.banner_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 15px;
}
.banner_subtitle {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}
.accent_color {
  color: #f48e0b;
}
.banner_slogan {
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 38px 31px;
  display: inline-block;
}
.banner_slogan span {
  margin-right: 50px;
}
